body {
  font-family: sans-serif;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  height: 100vh;
}

input {
  font-style: italic;
  border: none;
  padding: 1em;
  font-size: 1em;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 1em;
  margin: 0;
  list-style: none;
}

label {
  margin-left: 0.5em;
}

.header,
input,
li {
  border-bottom: lightgray solid 1px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.76);
  width: 25rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  border-bottom: lightgray solid 1px;
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.clear-btn {
  border: none;
  background-color: rgb(228, 227, 227);
  cursor: pointer;
  align-self: center;
  width: 100%;
  height: auto;
  padding: 1em;
}

.checkbox-container {
  display: flex;
}

.menu-container {
  display: flex;
  align-items: center;
  padding: 0;
  width: min-content;
  cursor: move;
}

.list-element {
  display: flex;
  justify-content: space-between;
}

.text-edit {
  font-family: 'Times New Roman', Times, serif;
  color: #333;
  display: block;
  border: none !important;
  outline: none;
  justify-self: baseline;
  background: transparent;
  box-shadow: none;
  overflow: auto;
  font-size: 1rem;
  font-style: normal;
  resize: none;
  margin: 0;
  margin-left: 0.5em;
  padding: 0;
  word-wrap: break-word;
  width: 20rem;
}

.hidden {
  display: none;
}

.on-update {
  background-color: #fffedd;
}
